header {
   background-color: grey;
   color: white;
   width: 100%;
   padding: 10px 6% 10px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}

header img {
    display: flex;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
}

h1 {
    color: white;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 1.5vw;
    line-height: 1;
    align-items: flex;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: white;
    background-color: grey;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

nav a:hover {
    color:purple;
    font-weight: bold;
    text-decoration: underline overline;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}

.hero-banner {
    background-image: url(https://media1.giphy.com/media/IuVFGSQZTd6TK/giphy.gif);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light
    min-height: 200px;
    color: grey;
    padding: 2% 7%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: white;
    color: blue;
    margin: 0;
    padding: 0px 5px;
    font-size: 35px;
    line-height: 1.2;
    display: inline;
    border-radius: 50px;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.page-information {
    max-width: 88%
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid grey;
    font-size: 2vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
}